{% load i18n %}
{% load qa_tags %}
{% if instance %}
    {% if instance.in_progress %}
        <span data-timestamp="{{instance.work_started|date:"U"}}">
            <abbr title="{% blocktrans with modified_by=instance.modified_by %}Started by {{modified_by}}{% endblocktrans %}">{{instance.work_started}}</abbr>
        </span>
    {% else %}
        <span data-timestamp="{{instance.work_completed|date:"U"}}">
            <abbr title="{% blocktrans with created_by=instance.created_by modified_by=instance.modified_by %}Completed by {{created_by}}, Last modified by {{modified_by}}{% endblocktrans %}">{{instance.work_completed}}</abbr>
        </span>
    {% endif %}
{% else %}
    <em>{% trans "New List" %}</em>
{% endif %}
